<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="generator" content="pandoc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="$og-prefix$index.html" />
  <meta property="og:description" content="$og-description$" />
  <meta property="og:site_name" content="Maria's photo dumps" />
  <meta property="og:image" content="$og-prefix$$og-image$" />
  <meta property="og:image:url" content="$og-prefix$$og-image$" />
  <meta property="og:image:alt" content="$og-image-alt$" />

  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="$og-prefix$index.html">
  <meta name="twitter:title" content="$if(og-pagetitle)$$og-pagetitle$$else$$pagetitle$$endif$">
  <meta name="twitter:description" content="$og-description$">
  <meta name="twitter:image" content="$og-prefix$$og-image$">

  <title>E | {{ meta.title }}</title>
  <style>
html {
  line-height: 1.2;
  font-family: serif;
  font-size: 0.9em;
  color: black;
  background-color: white;
}
body {
  margin: 0 auto;
/*  margin-right: auto; */
  max-width: 76em;
  padding: 1em;
  padding-top: 0;
  hyphens: auto;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
}
p {
  margin: 0.7em 0;
}
a {
  color: black;
}
a:visited {
  color: black;
}

.img-tiles {
  margin: 0.2em;
  max-width: 24em;
  max-height: 24em;
  display: inline-block;
  float: both;
  cursor: pointer;
}
.display-none { display: none!important; }

#log {
  font-family: monospace;
  border: 1px solid black;
  position: absolute;
  left: 2em;
  top: 1em;
  padding: 0.6em;
}

#metadata {
  border: 1px solid black;
  position: absolute;
  right: 2em;
  top: 1em;
  border-spacing: 0;
}

#metadata td, #metadata th {
  padding: 0.3em 0.8em;
  line-height: 120%;
  border: 1px solid black;
  max-width: 20em;
}

.editable-text:hover::after {
  content: " ✏️";
}

  </style>
</head>
<body>
<header id="title-block-header">
  <h1 class="title editable-text" data-source="meta.title"></h1>
</header>
<div id="log"></div>
<table id="metadata">
  <tbody>
    <tr><th>Author: <td class="editable-text" data-source="meta.author">
    <tr><th>Description: <td class="editable-text" data-source="meta.og-description">
  </tbody>
</table>
<div id="img-container"></div>

<script>
  var log_div = document.getElementById("log")
  var img_container = document.getElementById("img-container")

  var editables = document.getElementsByClassName("editable-text")

  var index = {}
  var response_handler = null
  var socket = null

  function TN(m) {
    return document.createTextNode(m)
  }

  function EL(t) {
    return document.createElement(t)
  }

  function CL(e) {
    while (e.firstChild)
      e.removeChild(e.firstChild)
  }

  function logMsg(m) {
    console.log(m)
    var d = EL("div")
    d.appendChild(TN(m))
    log_div.appendChild(d)
  }

  function editableUpdate(e) {
    CL(e)
    e.appendChild(TN(e.dataset.text))
  }

  function editableSave(ev) {
    let inp = ev.target
    let e = inp.parentNode
    e.dataset.text = inp.value
    editableUpdate(e)
    sendIndexUpdate(e.dataset.source, e.dataset.text)
  }

  function editableKey(ev) {
 //   logMsg(ev.key)
    if (ev.key == "Enter")
      return editableSave(ev)

    if (ev.key == "Escape")
      return editableUpdate(ev.target.parentNode)
  }

  function editableEdit(ev) {
    let e = ev.target
    CL(e)
    inp = EL("input")
    inp.type = "text"
    inp.value = e.dataset.text
    inp.addEventListener("keydown", editableKey)
    e.appendChild(inp)
  }

  for (let e of editables) {
    e.addEventListener("click", editableEdit)
  }

  function sSend(data, rhandler) {
    socket.send(JSON.stringify(data))
    response_handler = rhandler
  }

  function receiveIndex(data) {
    index = JSON.parse(data)

    while (img_container.firstChild) {
      img_container.removeChild(img_container.firstChild)
    }

    for (let i = 0; i < index.images.length; i++) {
      var it = EL("img")
      it.id = "img-" + i
      it.src = "img/thumbnail-" + i
      it.className = "img-tiles"
      for (item in index.images[i])
	it.dataset[item] = index.images[i][item]
      img_container.appendChild(it)
    }

    for (elem of editables) {
      var loc = index
      for (spart of elem.dataset.source.split("."))
	loc = loc[spart]

      elem.dataset.text = loc
      editableUpdate(elem)
    }
  }

  function loadIndex() {
    sSend({
      "_": "index",
    }, receiveIndex)
  }

  function sendIndexUpdate(path, value) {
    sSend({
      "_": "update",
      "path": path,
      "value": value,
    }, receiveIndex)
  }

  try {
    socket = new WebSocket("ws://{{ app.host }}/controller/")
    socket.onopen = function () {
      logMsg("Connection succesful")
      loadIndex()
    }
    socket.onerror = function () {
      logMsg("Connection failed. Reload to retry.")
    }
    socket.onmessage = function (m) {
      if (response_handler === null)
	logMsg("<" + m.data)
      else
      {
	response_handler(m.data)
	response_handler = null
      }
    }
  } catch (err) {
    logMsg("Connection failed: " + err + " Reload to retry.")
  }

</script>
</body>
</html>
